<!DOCTYPE html>
<html>
    <head>
        <title>ZenBook</title>
        
        {{> page_settings }}
        {{> imports_css }}
    </head>
    <body>
        {{> navbar}}

        <br>

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <h2 class="mb-3">View all</h2>
                    {{#if people}}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Phone number</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each people}}
                                    <tr>
                                        <th scope="row">{{this.id}}</th>
                                        <th scope="row">{{this.firstname}}</th>
                                        <th scope="row">{{this.lastname}}</th>
                                        <th scope="row">{{this.phonenumber}}</th>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <div class="col d-flex justify-content-center">
                            <p>Nothing to see here...</p>
                        </div>
                    {{/if}}
                </div>
                
                    
                    <!--
                    {{#if people}}
                        {{#each people}}
                            <div class="col d-flex justify-content-center">
                                <div class="mb-3 card person-card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.name}}</h5>
                                        <p class="card-text">{{this.title}} {{#if this.company}} at {{this.company}} {{/if}}</p>
                                        {{!-- {{#if this.phonenumber}} <p class="card-text">Phone: {{this.phonenumber}}</p> {{/if}} --}}
                                        <a href="/highlight?id={{this.id}}" class="btn btn-primary">Go To Profile</a>
                                        <a href="/delete?id={{this.id}}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                                
                        {{/each}}
                    {{else}}
                        <div class="col d-flex justify-content-center">
                            <p>Nothing to see here...</p>
                        </div>
                    {{/if}}
                    -->
                
            </div>
        </div>

        {{> imports_js }}
    </body>
</html>